<div class="card green">
    <div class="card-header">
        Dynamo DB
    </div>
    <div class="card-body">
        <table class="table">
            <tbody>
                <tr>
                    <th scope="row">Table Name</th>
                    <td><%= dynamoInfo.name %></td>
                </tr>
                <tr>
                    <th scope="row">Region</th>
                    <td><%= dynamoInfo.region %></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
