<div class="card green">
    <div class="card-header">
        Kinesis Queue
    </div>
    <div class="card-body">
        <table class="table">
            <tbody>
                <tr>
                    <th scope="row">Queue Name</th>
                    <td><%= kinesisInfo.name %></td>
                </tr>
                <tr>
                    <th scope="row">Region</th>
                    <td><%= kinesisInfo.region %></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
