<div class="card mustard">
    <div class="card-header">
        New ASCII Art Job
    </div>
    <div class="card-body">
        <form id="newJobForm">
            <div class="form-group">
                <label for="name">Text</label>
                <input type="text" name="name" class="form-control" id="name" placeholder="Enter Text">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success">Submit ASCII Art Job</button>
            </div>
            <div id="msgSubmit" class="form-group"></div>
        </form>
    </div>
</div>
