<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
</head>
<body class="container">

<main>
    <h1>Berlioz GCP Samples</h1>
    <h2>01.FuncAddr</h2>

    <div class="row">
        <div class="col-sm">
            <% include partials/new-contact %>
        </div>
    </div>

    <div class="row">
        <div class="col-sm">
            <% include partials/contact-list %>
        </div>
    </div>

    <% include partials/global-error %>
</main>

<footer>
    <% include partials/footer %>
</footer>

</body>
</html>
