<div class="card eastern-blue">
    <div class="card-header">
        Donate Now
    </div>
    <div class="card-body">
        <form method="post" action="donate">
            <button type="submit" class="btn btn-success btn-lg" name="amount" value="1">$1</button>
            <button type="submit" class="btn btn-success btn-lg" name="amount" value="20">$20</button>
            <button type="submit" class="btn btn-success btn-lg" name="amount" value="100">$100</button>
        </form>
    </div>
</div>
