<div class="card blue">
    <div class="card-header">
        Recent Donations
    </div>
    <div class="card-body">
        <table class="table">
            <tbody>
                {% if recent %}
                    {% for x in recent %}
                        <tr>
                            <th scope="row">{{ x.date }}</th>
                            <td>{{ x.amount }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
