<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <h1>Berlioz Kinesis Sample</h1>

    <div class="row">
        <div class="col-sm">
            <% include ../partials/new-job %>
        </div>
    </div>

    <div class="row">
        <div class="col-sm">
            <% include ../partials/arts %>
        </div>
    </div>

    <h2>Local Metadata</h2>
    <div class="row">
        <div class="col-sm">
            <% include ../partials/kinesis-peers %>
        </div>
        <div class="col-sm">
            <% include ../partials/dynamo-peers %>
        </div>
    </div>

    <div class="row">
        <div class="col-sm">
            <% include ../partials/environment %>
        </div>
    </div>

    <% include ../partials/global-error %>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>
