<div class="card purple">
    <div class="card-header">
        Contact List
    </div>
    <div class="card-body">
        <% if (entries) { %>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Phone</th>
                </tr>
            </thead>
            <tbody>
                <% entries.forEach(function(entry) { %>
                    <tr>
                        <th scope="row"><%= entry.name %></th>
                        <td><%= entry.phone %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
        <% } %>
    </div>
</div>
