<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'parts/head.html' %}
</head>
<body class="container">

<header>
    {% include 'parts/header.html' %}
</header>

<main>
    <h1>Berlioz Hello World.py</h1>
    <h2>v3.load-balancer</h2>

    <div class="row">
        <div class="col-sm">
            {% include 'parts/environment.html' %}
        </div>
        <div class="col-sm">
            {% include 'parts/app-peers.html' %}
        </div>
    </div>

    <div class="row">
        <div class="col-sm">
            {% include 'parts/app-response.html' %}
        </div>
    </div>

    {% include 'parts/global-error.html' %}
</main>

<footer>
    {% include 'parts/footer.html' %}
</footer>

</body>
</html>
