<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<meta viewport="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>Berlioz Pharmacy Demo</title>

<!-- JQUERY -->
<script src='https://code.jquery.com/jquery-3.2.1.min.js' ></script>

<!-- BOOTSTRAP -->
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js' ></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

<!-- FONTS-AWESOME -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" >

<!-- CUSTOM -->
<script src='/scripts/logic.js'></script>
<link rel="stylesheet" href="/css/styles.css">
