<div class="card blue">
    <div class="card-header">
        Medication Inventory
    </div>
    <div class="card-body">
        <form action="/new-drug" method="post">
            <div class="form-group">
                <label for="newDrugName">Drug Name</label>
                <input type="text" name="name" class="form-control" id="newDrugName" placeholder="Enter Drug Name">
            </div>
            <button type="submit" class="btn btn-primary">Insert</button>
        </form>
    </div>
</div>
