<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <h1>Berlioz ImageProcessor</h1>

    <h3>Upload Image to Process:</h3>
    <div class="row">
        <div class="col-sm">
            <form action="/upload" enctype="multipart/form-data" method="post">
                <div class"form-group"></div>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="inputImage" name="image" required>
                        <label class="custom-file-label" for="inputImage">Choose image</label>
                    </div>
                </div>
                <div class"form-group"></div>
                    <button type="submit" class="btn btn-primary">Upload Image</button>
                </div>
            </form>
            <script>
                $('#inputImage').on('change',function(){
                    var fileName = $(this).val();
                    $(this).next('.custom-file-label').html(fileName);
                })
            </script>
        </div>
    </div>

    <h3>Processed Images:</h3>
    <div class="row">
        <div class="col-sm">

            <div class="card blue">
                    <div class="card-header">
                        Images
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="row">ID</th>
                                    <td>Original</td>
                                    <td>Processed</td>
                                </tr>
                            </thead>
                            <tbody>
                                <% images.forEach(function(image) { %>
                                    <tr>
                                        <th scope="row"><%= image.name %></th>
                                        <td><image class="user-image" src="<%= image.origUrl %>" /></td>
                                        <td>
                                            <% if ((typeof image.processedUrl != "undefined") && image.processedUrl) { %>
                                                <image class="user-image" src="<%= image.processedUrl %>" />
                                            <% } else {%>
                                                <span>processing...</span>
                                            <% }%>
                                        </td>
                                    </tr>
                                <% }); %>
                            </tbody>
                        </table>
                    </div>
                </div>
                    


        </div>
    </div>

    <% include ../partials/global-error %>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>
