<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <h1>Berlioz DynamoDB Sample</h1>

    <div class="row">
        <div class="col-sm">
            <% include ../partials/new-contact %>
        </div>
    </div>

    <div class="row">
        <div class="col-sm">
            <% include ../partials/contact-list %>
        </div>
    </div>

    <h2>Local Metadata</h2>

    <div class="row">
        <div class="col-sm">
            <% include ../partials/environment %>
        </div>
        <div class="col-sm">
            <% include ../partials/app-peers %>
        </div>
    </div>

    <h2>From App Peer</h2>
    <div class="row">
        <div class="col-sm">
            <% include ../partials/app-response %>
        </div>
        <div class="col-sm">
            <% include ../partials/app-db-peers %>
        </div>
    </div>

    <% include ../partials/global-error %>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>
