<div class="card mustard">
    <div class="card-header">
        New Contact
    </div>
    <div class="card-body">
        <form method="POST">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" name="name" class="form-control" id="name" placeholder="Enter Name">
            </div>
            <div class="form-group">
                <label for="phone">Phone Number</label>
                <input type="text" name="phone" class="form-control" id="phone" placeholder="Enter Phone Number">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success">Create New Contact</button>
            </div>
            <div id="msgSubmit" class="form-group"></div>
        </form>
    </div>
</div>
